html {
  font-family: 'Roboto', Arial, sans-serif;
}

body {
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.box .header {
  flex: 0 1 auto;
}

.box .content {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
}

.content--center {
  text-align: center;
}

.gmaps-iframe {
  border: 0;
}

.home-loggedout--background {
  background: url(./images/home-bg.png) center no-repeat black;
  background-size: auto 100%;
}

.home-loggedout {
  height: 100vh;
  vertical-align: middle;
  position: relative;
}

.home-loggedout--align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.helvetica-text {
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}

.short-field {
  width: 15vw !important;
  margin: 0 4px !important;
}

.long-btn {
  min-width: 200px !important;
}

.long-field {
  width: 30vw !important;
  margin: 0 4px !important;
}

.clear {
  clear: both;
}

.workout-table {
  width: 90vw;
  margin: 0 auto;
}

.log-row--height > * {
  height: 55px !important;
}

.customize-workout {
  width: 90vw;
  margin: 0 auto;
  background: none !important;
}

.nutrition-new-table {
  width: 80vw;
  margin: 0 auto;
}

.food-new-row {
  display: flex;
  flex-flow: row;
}

.food-new-row div {
  margin: 0 auto;
}

.nutrition-log {
  margin: 0 auto;
}

.nutrition-log td, .profile-personal-records td, .gyms-near-you td {
  border: 1px solid #ccc;
  margin: 0;
  padding: 2px 8px;
}

.nutrition-log tr {
  display: flex;
  width: 80vw;
}

.nutrition-log-name {
  text-align: left;
  width: 80%;
}

.nutrition-log-calories {
  width: 20%;
}

.profile-image {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 15px auto;
}

.gyms-near-you {
  width: 360px;
  margin: 0 auto;
}

.profile-personal-records {
  width: 260px;
  margin: 0 auto;
}

.profile-delete {
  width: 135px;
}
